<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/test.css')}}">
</head>
<body onload="init()">
    <div class="flex-main-container">
        <div class="flex-container">
            <label>Список режимов:</label>
            <br>
            <select id="modes-element" onchange="changeMode();">
            </select>
            <br>
            <button id="choose_mode" onclick="setMode();">Выбрать</button>
        </div>
        <div class="flex-container">
            <label>Информация о режиме:</label>
            <br><label>Холодный: </label><label id="label-cold">X</label><br>
            <br><label>Теплый:   </label><label id="label-warm">X</label><br>
            <br><label>ШИМ:    </label><label id="label-pwm">X</label><br>
            <br>
        </div>
        <div class="flex-container">
            <label>Создать новый режим</label><br>
            <label>Имя: </label> <input type="text" id ="input-name" value="режимчик 1"><br>
            <label>Холодный: </label><input type="range" min="0" max="4095" id="input-cold" oninput="getCold()"><label id="label-new-cold">X</label><br>
            <label>Теплый:   </label><input type="range" min="0" max="4095" id="input-warm" oninput="getWarm()"><label id="label-new-warm">X</label><br>
            <label>ШИМ:    </label>  <input type="range" min="100" max="1500" id="input-pwm" oninput="getPwm()"><label id="label-new-pwm">X</label><br>
            <button onclick="checkMode();">Проверить</button>
            <button onclick="createMode();">Создать</button>
        </div>
        <script src="{{url_for('static', filename='js/test.js')}}"></script>
    </div>
</body>
</html>