<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>~ Light 408 ~</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/test.css')}}">
</head>
<body onload="init();">
    <div class="grid-container">
        <div class="item header">
            <label>Light 408</label>
        </div>

        <div class="item modes-list">
            <label>Список режимов</label>
            <hr class="solid">
            <div class="flex-container">
                <select id="modes-select" class="flex-element element"></select>
                <button class="element">Выбрать</button>
            </div>
            <div class="item mode-info">
                <label>Информация о режиме</label>
                <hr class="solid">
                <div class="info-container">
                    <label class="cold-descr-label">Холодный: </label>
                    <input type="range" min="0" max="4095" id="input-cold" class="input-cold">
                    <label id="cold-label" class="cold-label element">0</label>
                </div>
                <div class="info-container">
                    <label class="warm-descr-label">Теплый: </label>
                    <input type="range" min="0" max="4095" id="input-warm" class="input-warm">
                    <label id="warm-label" class="warm-label element">0</label>
                </div>
                <div class="info-container">
                    <label class="pwm-descr-label">ШИМ: </label>
                    <input type="range" min="0" max="4095" id="input-pwm" class="input-pwm">
                    <label id="pwm-label" class="pwm-label element">0</label>
                </div>
                <div>
                    <button class="element">Проверить</button>
                    <button class="element">Сохранить</button>
                </div>
            </div>
        </div>
        <div class="item lamp-control">
            <label>Управление светильниками</label>
            <hr class="solid">
        </div>
    </div>
    <script src="{{url_for('static', filename='js/test.js')}}"></script>
</body>
</html>